<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SGLib" tools:targetApi="31">

        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.RegisterUserActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity" />

        <activity
            android:name=".view.PendingApprovalActivity"
            android:exported="false" />

        <activity
            android:name=".view.UserMainActivity"
            android:exported="false" />

        <activity
            android:name=".view.AdminMainActivity"
            android:exported="false" />

        <activity
            android:name=".view.BookDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.UserMainActivity" />

        <activity
            android:name=".view.WriteReviewActivity"
            android:exported="false"
            android:parentActivityName=".view.BookDetailActivity" />

        <activity
            android:name=".view.AddEditBookActivity"
            android:exported="false"
            android:parentActivityName=".view.AdminMainActivity" />

        <activity
            android:name=".view.RegisterAdminActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>